* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/*navbar&header*/

header {
  height: 125px;
  background-color: rgba(0, 0, 0, 0.712);
}

.head {
  width: 20%;
  margin: 0px 50px 20px 50px;
  padding-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.74);
}

.topnav {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(19, 18, 18);
  margin: -60px 250px 250px 250px;
  padding: 20px 10px 20px 10px;
  font-size: larger;
  color: rgba(255, 255, 255, 0.74);
  float: right;
}

.element1 {
  padding: 10px 10px 10px 15px;
}

.element2 {
  padding: 10px 10px 10px 15px;
}

.element3 {
  padding: 10px 10px 10px 15px;
}

.element4 {
  padding: 10px 10px 10px 15px;
}

.element5 {
  padding: 10px 10px 10px 15px;
}

/*section1*/

.sec1 {
  height: 350px;
  width: 450px;
  margin: 40px 50px 10px 40px;
  padding: 20px 50px 2px 70px;
  background-color: rgb(197, 195, 195);
  color: rgb(117, 116, 116);
  float: left;
}

.sec1 h1 {
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
  float: left;
}

.rdmr {
  color: rgb(255, 166, 0);
  text-decoration: none;
  float: right;
  margin-top: 30px;
  font-size: 18px;
}

.photo1 {
  width: auto;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.712);
  float: left;
  margin: -183px 250px 250px 5px;
  padding: 0px 500px 350px 500px;
}

/*section2*/
.sec2 {
  display: inline;
  float: left;
  margin: -183px 250px 250px 5px;
  color: rgb(117, 116, 116);
  height: 350px;
  width: 450px;
  padding: 20px 50px 2px 70px;
}

/*article1*/
.artic1 {
  float: left;
}
.artic1 h1 {
  font-size: 20px;
  margin: 10px 45px 10px 40px;
}

.artic1 p {
  margin: 5px 2px 5px 25px;
}

.photo2 {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.712);
  float: left;
  margin: 10px 25px 10px 40px;
  border-style: groove;
  border-color: white;
}

/*article2*/
.artic2 {
  float: right;
}
.artic2 h1 {
  font-size: 20px;
  margin: 10px 45px 10px 40px;
}

.artic2 p {
  margin: 5px 2px 5px 25px;
}

/*article3*/
.artic3 {
  float: right;
}
.artic3 h1 {
  font-size: 20px;
  margin: 10px 45px 10px 40px;
}

.artic3 p {
  margin: 5px 2px 5px 25px;
}

/*footer*/

.footer {
  display: flex;
}

.photo3 {
  width: 215px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.712);
  float: center;
  margin: 100px 25px 10px 40px;
  border-style: groove;
  border-color: white;
}
